NODE_ENV=development
PORT=3000

# Database (db = nome do container Docker, não muda)
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=Sendi@2024#Db
DATABASE_NAME=sendi

# Redis (redis = nome do container Docker, não muda)
REDIS_HOST=redis
REDIS_PORT=6379

# JWT
JWT_SECRET=Sendi2024JwtSecretSuperSeguro99!!
JWT_EXPIRES_IN=7d

# WhatsApp
WHATSAPP_VERIFY_TOKEN=sendi_webhook_2024
WHATSAPP_API_URL=https://graph.facebook.com/v25.0

# Criptografia AES-256 (exatamente 32 caracteres)
ENCRYPTION_KEY=Sendi2024EncryptKey32Chars!!!!!!
